@model IEnumerable<CAP.ApplicationCore.ViewModels.Curso.CursoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-7">
                <h3 class="align-middle"><strong>Cursos cadastrados no sistema</strong></h3>
            </div>
            <div class="col-md-2 offset-md-3">
                <div class="card-tools">
                    <a href="@Url.Action("Create","Curso")" class="btn btn-primary btn-block text-white">
                        <span>Cadastrar</span>
                        <i class="fas fa-user-plus ml-md-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- fim div card-header -->
    <div class="card-body">
        <table id="dataTable" class="table table-responsive-md table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Acões</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var curso in Model)
                {
                    <tr>
                        <td>@curso.CursoId</td>
                        <td>@curso.Titulo</td>
                        <td>@(curso.Descricao.Length > 20 ? curso.Descricao.Substring(0,20)+"..." : curso.Descricao)</td>
                        <td>
                            @Html.ActionLink("Detalhes", "Detalhes", "Curso", new { id = curso.CursoId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Atualizar", "Edit", "Curso", new { id = curso.CursoId }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Deletar", "Delete", "Curso", new { id = curso.CursoId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="~/Views/Shared/AdminLTE/DataTables/_ScriptsDataTables.cshtml" />

